body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 30px;
}

h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  min-width: 150px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.vehicle-card {
  background: #1e293b;
  padding: 16px;
  margin: 15px auto;
  border-radius: 12px;
  width: 400px;
  font-size: 22px;
}

.service-card {
  background: #1e293b;
  padding: 16px;
  margin: 15px auto;
  border-radius: 12px;
  width: 400px;
}

.delete-btn {
  margin-left: 12px;
  background: #dc2626;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #b91c1c;
  transform: scale(1.05);
}