body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  min-width: 150px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.vehicle-card {
  background: #1e293b;
  padding: 16px;
  margin: 15px auto;
  border-radius: 12px;
  width: 400px;
  font-size: 22px;
}

.service-card {
  background: #1e293b;
  padding: 16px;
  margin: 15px auto;
  border-radius: 12px;
  width: 400px;
}

.delete-btn {
  margin-left: 12px;
  background: #dc2626;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #b91c1c;
  transform: scale(1.05);
}

.dashboard {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.dashboard-card {
  transition: 0.2s;
  background: #1e293b;
  padding: 20px;
  border-radius: 14px;
  width: 180px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.dashboard-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.dashboard-card p {
  font-size: 28px;
  font-weight: bold;
  color: #3b82f6;
}

.dashboard-card:hover {
  transform: translateY(-4px);
}

